#starlight__sidebar {
    transition: ease 0.2s;
}

.right-sidebar-container {
    transition: ease 0.2s;
}

.toggle-left-side-bar-btn {
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.toggle-right-side-bar-btn {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}

img {
    border-radius: 5px;
}