---
const { starlightRoute } = Astro.locals;
const { title, icon } = starlightRoute.entry.data;
---

<h1 id="_top" class="page-title">
  {icon && <img src={icon} alt="" class="page-icon" />}
  {title}
</h1>

<style>
.page-icon {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}
</style>
